
.ticker-wrapper-h{
	display: flex;	
	position: relative;
	overflow: hidden;
    background: white;
    border: 1px solid var(--primery) !important;
	margin-bottom: 1rem;
}
select {
	background-color: var(--primery)  !important;
	border-color: var(--primery)  47 !important;
	color: white;
	vertical-align: sub;
    font-size: 1.2rem;
}
.ticker-wrapper-h .heading{
	background-color: var(--primery) ;
	color: #fff;
	padding: 5px 10px;
	flex: 0 0 auto;
	z-index: 100000;
	border-left-style: ridge;
    width: auto;
    border-left-width: thin;

}
// .ticker-wrapper-h .heading:after{
// 	content: "";
// 	position: absolute;
// 	top: 0;
// 	border-left: 20px solid #1c6547;
// 	border-top: 17px solid transparent;
// 	border-bottom: 15px solid transparent;
// }

.news-ticker-h > li a:hover {
    color: darkred;
  
}

.news-ticker-h{
	display: flex;
	margin:0;
	padding: 0;
	padding-left: 90%;
	z-index: 999;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name:tic-h;
	 animation-duration: 50s;



	
}

.news-ticker-h:hover { 
	animation-play-state: paused; 
}

.news-ticker-h li{
	display: flex;
	width: 100%;
	align-items: center;
	white-space: nowrap;
	padding-left: 40px;
}

.news-ticker-h li a{
	color: #212529;
//	font-weight: bold;
}




@keyframes tic-h {
	0% {
		-webkit-transform: translate3d(50%, 0,0);
		transform: translate3d(50%,0,0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d( -100%, 0,0);
		transform: translate3d(-50%, 0,0);
	}
}