
<p-toast position="top-right"></p-toast>

<div class="block-content">
	<div class="ng-star-inserted">
		<div class="px-4 py-8 md:px-6 lg:px-8" style="background: url('assets/layout/images/login-bg.jpg') no-repeat; background-size: cover;">
			<div class="flex flex-wrap">
				<div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
					<div class="text-900 text-2xl font-medium mb-6 text-right" translate>Login</div>
					<label for="email3" class="block text-900 font-medium mb-2"translate>Email</label>
					<input id="email3" type="text" [(ngModel)]="username" placeholder="Email address" pinputtext="" class="p-inputtext p-component p-element w-full mb-4">
					<label for="password1" class="block text-900 font-medium mb-2" translate>Password</label>
					<input id="password1" type="password" placeholder="Password" [(ngModel)]="password" class="p-inputtext p-component p-element w-full mb-4">
                    <div class="flex align-items-center justify-content-between mb-6">
						<div class="flex align-items-center">
							<p-checkbox id="rememberme3" styleclass="mr-2" class="p-element">
								<div class="mr-2 p-checkbox p-component">
									<div class="p-hidden-accessible">
										<input type="checkbox" value="undefined" aria-checked="false">
									</div>
									<div class="p-checkbox-box"><span class="p-checkbox-icon"></span></div>
								</div>
								<!---->
							</p-checkbox>
							<label for="rememberme3" class="ml-2" translate>Remember me</label>
						</div><a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer" translate>Forgot password</a></div>
					<button pButton (click)="login()" label="{{'Login'|translate}}" icon="pi pi-user" class="p-element p-ripple w-full p-button p-component"></button>
				</div>
			</div>
		</div>
	</div>
	<!---->
	<!---->
</div>